* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

.social {
    background: linear-gradient(180deg, #E3FDF5 0%, #FFE6FA 100%);
    padding: 80px 0;
    margin: 103px 0 80px 0;

    @media (max-width: 1024px) {
        padding: 40px 0;
    }

    @media (max-width: 576px) {
        padding: 25px 0;
        margin: 69px 0 25px 0;
    }

    .container1 {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: content-box;

        @media (max-width: 576px) {
            padding: 0 15px;
        }

        .social-head {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 60px;

            @media (max-width: 576px) {
                padding-bottom: 25px;
            }

            h2 {
                font-family: "Montserrat", sans-serif;
                font-size: 28px;
                color: #282828;
                font-weight: 700;
                line-height: 34px;
                padding-bottom: 10px;
                border-bottom: 4px solid #ef404a;
                text-align: center;

                @media (max-width: 1024px) {
                    font-size: 22px;
                    line-height: 28px;
                }

                @media (max-width: 576px) {
                    font-size: 18px;
                    line-height: 22px;
                    padding-bottom: 3px;
                    border-bottom: 2px solid #ef404a;
                }
            }
        }

        .social-div {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 60px;

            @media (max-width: 1240px) {
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;
            }

            @media (max-width: 576px) {
                grid-template-columns: repeat(1, 1fr);
                gap: 20px;

                &:nth-last-child(n + 3) {
                    display: none;
                }
            }

            .press-div-box {
                @media (max-width: 576px) {
                    &:nth-last-child(-n + 3) {
                        display: none;
                    }
                }

                img {
                    width: 100%;
                    height: auto;
                    margin: 0 0 20px 0;

                    @media (max-width: 576px) {
                        margin: 0 0 10px 0;
                    }
                }

                h3 {
                    font-size: 24px;
                    font-weight: 700;
                    font-family: "Montserrat", sans-serif;
                    color: #000;
                    line-height: 30px;
                    margin: 0 0 6px 0;

                    @media (max-width: 1024px) {
                        font-size: 20px;
                    }

                    @media (max-width: 576px) {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }

                p {
                    font-size: 12px;
                    font-weight: 400;
                    font-family: "Montserrat", sans-serif;
                    color: #484848;
                    margin: 0 0 12px 0;
                    line-height: 20px;
                    max-width: 351px;

                    @media (max-width: 576px) {
                        font-size: 12px;
                        line-height: 20px;
                        margin: 0 0 8px 0;
                    }
                }

                button {
                    background: transparent;
                    border: none;
                    font-size: 14px;
                    font-weight: 600;
                    font-family: "Montserrat", sans-serif;
                    line-height: 17px;
                    color: #ef404a;
                    display: block;

                    @media (max-width: 576px) {
                        font-size: 12px;
                        line-height: 15px;
                    }
                }
            }
        }
    }
}